.popUp {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-gap: 20px;
  position: fixed;
  padding: 20px 40px 40px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  transform: translateY(100%);
  background-image: linear-gradient( 0,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('../background/backgroundExhibition.png');
  background-size: cover;
  z-index: 10;
  transition: 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.popUpPerformance {
  transform: translateY(0);
}

.popUpContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  align-items: center;
  grid-row-gap: 40px;
}

@media only screen and (max-width: 450px) {
  .popUpContainer {
    grid-row-gap: 30px;
    align-self: center;
  }
}

.mainSlide {
  width: 70%;
  justify-self: center;
}

.soundcloudContainer {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.soundcloudDetail {
  font-size: 10px;
  color: #264653;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Montserrat";
  font-weight: 400;
}

.soundcloudDetail a:first-child:hover, .soundcloudDetail a:last-child:hover {
  text-decoration: underline;
}

.soundcloudAuthor,
.soundcloudTitle {
  color: #264653;
  text-decoration: none;
}

.instagramPost {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 450px;
  grid-gap: 20px;
  justify-items: center;
}

.instagramPost > div {
  justify-content: center;
}

.instagramImg {
  height: 100%;
  object-fit: cover;
  /* width: 100%; */
  border-radius: 4px;
}

.instagramImgSlide {
  width: 320px;
}

.instagramText {
  font-family: "Montserrat";
  font-weight: 400;
  color: #264653;
  font-size: 14px;
}

.instagramText a:hover {
  text-decoration: underline;
}

.popUpDetail {
  width: 70%;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.popUpTitle {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 26px;
  color: #1e6d94;
  letter-spacing: 2px;
}

.popUpBorder {
  height: 4px;
  width: 100%;
  background-color: #264653;
}

.popUpDesc {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  color: #264653;
}

.popUpWinner, .popUpAngkatan {
  font-weight: 700;
}

@media only screen and (max-width: 450px) {
  .popUpTitle {
    font-size: 24px;
  }

  .popUpDesc {
    font-size: 16px;
  }
}

.popUpYoutube {
    width: 100%;
    border-radius: 4px;
}


/* For popUp responsive */

@media only screen and (max-width: 450px) {
  .popUp {
    padding: 20px 30px 40px;
    grid-template-rows: min-content 1fr;
  }

  .mainSlide {
    width: 100%;
    padding: 0;
    justify-self: stretch;
  }

  .popUpYoutube {
    height: 320px;
  }

  .popUpDetail {
    width: 100%;
    justify-self: stretch;
    grid-gap: 15px;
  }

  .instagramPost {
    grid-template-rows: 400px;
  }

  .souncloudIframe {
    width: 100%;
    height: 300px;
  }
}

.closeSide {
  justify-self: center;
  align-self: center;
  width: 35px;
  height: 35px;
  fill: #264653;
  opacity: .4;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s ease;
}

.closeSide:hover {
  opacity: .8;
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  .closeSide {
    opacity: .6;
    transform: translateY(35%);
  }

  .closeSide:hover {
    opacity: .6;
  }
}