body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  /* justify-items: center; */
}

/* .navbar {

} */

.navbar__input {
  display: none;
}

.navbar__input:checked ~ .navbar__background {
  transform: scale(80);
}

.navbar__label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40px;
  right: 50px;
  width: 60px;
  height: 60px;
  background-size: 200% auto;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: #f9f7f6;
  cursor: pointer;
  z-index: 100;
  transition: 0.2s ease;
}

.navbar__label:hover {
  /* background-position: right center; */
  transform: translateY(-3px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.navbar__label:active {
  transform: translateY(2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.navbar__background {
  position: fixed;
  top: 45px;
  right: 55px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: linear-gradient(
    102.1deg,
    rgba(96, 221, 142, 1) 8.7%,
    rgba(24, 138, 141, 1) 88.1%
  );
  z-index: 5;
  transition: 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}

.navbar__cta,
.navbar__cta::before,
.navbar__cta::after {
  border-radius: 5px;
}

.navbar__cta {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #101d2c;
}

.navbar__cta::before,
.navbar__cta::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101d2c;
  transition: 0.3s ease;
}

.navbar__cta::before {
  top: -6px;
}

.navbar__cta::after {
  top: 6px;
}

.navbar__input:checked ~ .navbar__label .navbar__cta {
  background-color: transparent;
}

.navbar__input:checked ~ .navbar__label .navbar__cta::before {
  transform: rotate(135deg);
  top: 0;
}

.navbar__input:checked ~ .navbar__label .navbar__cta::after {
  transform: rotate(-135deg);
  top: 0;
}

.navbar__nav {
  position: fixed;
  width: 0;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50px);
  z-index: 99;
  transition: 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navbar__input:checked ~ .navbar__nav {
  width: 100%;
  height: 100vh;
  transform: translateY(-50px);
  opacity: 1;
  visibility: visible;
}

.navbar__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: max-content;
  grid-gap: 25px;
}

.navbar__list:hover .navbar__link:not(:hover) {
  filter: blur(2px);
}

.navbar__link,
.navbar__link:visited {
  display: inline-block;
  width: 250px;
  position: relative;
  text-decoration: none;
  color: #ece9e6;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 8px 15px;
  border-radius: 0;
  transition: 0.4s ease, background-color 0.2s ease;
}

.navbar__link:hover {
  color: rgba(24, 138, 141, 1);
  background-color: #ece9e6;
  border-radius: 4px;
}

.navbar__item:nth-child(odd) .navbar__link {
  border-left: 3px solid #ece9e6;
}

.navbar__item:nth-child(even) .navbar__link {
  border-right: 3px solid #ece9e6;
}

.navbar__item:nth-child(odd):hover .navbar__link {
  transform: translateX(-10px);
}

.navbar__item:nth-child(even):hover .navbar__link {
  transform: translateX(10px);
}

.topbar {
  padding: 15px 0;
  margin: 0;
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  background-color: lightsalmon;
  width: 100%;
}

.topbar__list {
  list-style: none;
}

.topbar__link,
.topbar__link:visited {
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
  text-align: center;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  display: grid;
  grid-template-columns: min-content;
  border: 1.5px solid #101d2c;
  border-left: none;
  border-radius: 2px;
  background-color: #f9f7f6;
  z-index: 5;
  transition: 0.3s ease;
}

.sidebar__link, .sidebar__link:visited {
  padding: 20px;
  -webkit-tap-highlight-color: transparent;
  transition: 0.1s ease;
}

.sidebar__link:hover {
  background-color: #101d2c;
}

.sidebar__link:hover .sidebar__menu {
  fill: #f9f7f6;
}

.sidebar__menu {
  width: 30px;
  height: 30px;
  transition: 0.2s ease;
}

.sidebar__toggle {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #101d2c;
  width: 34px;
  height: 34px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (max-width: 450px) {
  .sidebar__link {
    transition: .1s ease;
  }

  .sidebar__link:hover {
    background-color: transparent;
  }

  .sidebar__link:hover .sidebar__menu {
    fill: #000;
  }

  .sidebar__link:active {
    transform: scale(.9);
  }

  .sidebar__toggle {
    width: 32px;
    height: 32px;
  }
}

.sidebar__toggle-icon {
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

.moveLeft {
  transform: translate(0, -50%);
}

.main {
  padding: 30px 0;
  justify-self: stretch;
  text-align: center;
}

.main__cta,
.main__cta:visited {
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
  padding: 6px;
  border-radius: 4px;
  background-color: beige;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.stage2,
.stage3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  font-family: sans-serif;
}

@keyframes bounce {
  0% {
    transform: translateY(-5px) rotate(90deg);
  }
  100% {
    transform: translateY(5px) rotate(90deg);
  }
}

.performance {
  display: grid;
  grid-template-columns: 60vw 1fr;
  grid-template-rows: 464px;
  column-gap: 40px;
  row-gap: 20px;
  padding: 40px 30px;
  background-color: lightgray;
}

.fadeIn {
  animation: fadeIn 0.5s ease 1 forwards alternate;
}

.videoPerformance {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 20px;
  transform: translateY(0);
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.performance__heading {
  margin: 0;
  font-size: 25px;
  font-family: sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.list {
  height: 65%;
  padding: 0;
  margin: 0;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-gap: 20px;
  align-self: center;
}

.list__item {
  list-style: none;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-gap: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.input:checked ~ .list__label .list__item {
  background-color: rgb(20, 20, 20);
}

.input:checked ~ .list__label .list__title {
  color: beige;
}

.input:checked ~ .list__label .list__desc {
  color: rgb(151, 145, 145);
}

.input {
  display: none;
}

.list__item:hover {
  background-color: rgb(20, 20, 20);
}

.list__item:hover .list__title {
  color: beige;
}

.list__item:hover .list__desc {
  color: rgb(151, 145, 145);
}

.list__title,
.list__desc {
  margin: 0;
}

.list__title {
  font-size: 20px;
  font-family: sans-serif;
}

.list__desc {
  font-family: sans-serif;
  font-size: 14px;
  color: dimgray;
}

.video {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  align-items: center;
  text-align: center;
  visibility: hidden;
  transform: translateY(100%);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  color: beige;
  overflow: hidden;
  transition: 0.2s ease;
}

.video__streaming {
  display: grid;
  grid-template-columns: 58vw 1fr;
  grid-gap: 10px;
  margin: 30px 0;
}

.absenContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.absen,
.done {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 30px;
  background-color: rgb(241, 241, 226);
  box-shadow: 0 0 15px rgba(5, 5, 5, 0.6);
  z-index: 3;
}

.hidden {
  display: none;
}

.absen__heading,
.done__heading {
  font-family: sans-serif;
  font-style: 16px;
}

.absen__btn,
.absen__btn:visited,
.done__btn {
  border: none;
  outline: none;
  font-family: sans-serif;
  font-size: 14px;
  padding: 8px;
  color: #fff;
  background-color: rgb(5, 134, 70);
  cursor: pointer;
  justify-self: end;
  text-decoration: none;
  transition: 0.2s ease;
}

.absen__btn:active {
  transform: scale(0.95);
}

.removeAbsen {
  display: none;
}

.animatedAbsen {
  animation: popOut 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes popOut {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.error {
  font-family: sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
}

.banner {
  background-size: cover;
  padding: 40px;
  display: grid;
  grid-template-columns: max-content;
  align-items: center;
}

.heading {
  margin: 0;
  text-transform: uppercase;
  color: beige;
  font-family: "Montserrat";
  font-size: 36px;
  letter-spacing: 4px;
}

.slide {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-gap: 20px;
  position: fixed;
  padding: 20px 40px 40px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  transform: translateY(100%);
  background-color: rgb(15, 14, 14);
  backdrop-filter: blur(2px);
  z-index: 10;
  transition: 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.slidePerformance {
  transform: translateY(0);
}

.slideContainer {
  display: grid;
  align-items: center;
  grid-row-gap: 25px;
}

.slideContainer {
  grid-template-columns: max-content 1fr max-content;
}

.slideNav {
  position: relative;
}

.slideTooltip {
  position: absolute;
  top: -45px;
  right: -5px;
  padding: 5px;
  color: beige;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 300;
  background-color: rgb(15, 14, 14);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
  border-radius: 6px;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.slideNav:hover .slideTooltip {
  transform: scale(1);
  opacity: 1;
}

.hiddenTooltip {
  display: none;
}

.slideLeft,
.slideRight {
  width: 45px !important;
  height: 45px !important;
  cursor: pointer;
  transition: 0.1s ease;
}

.disableLeft,
.disableRight {
  opacity: 0.5;
}

/* .mainSlide {
  width: 70%;
  justify-self: center;
} */

/* .soundcloudContainer {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.soundcloudDetail {
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Montserrat";
  font-weight: 300;
}

.soundcloudAuthor,
.soundcloudTitle {
  color: #ccc;
  text-decoration: none;
}

.slidePost {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 450px;
  grid-gap: 20px;
  justify-items: center;
}

.slideImg {
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.4);
}

.slideLink,
.slideLink:visited,
.slideText {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 300;
  color: beige;
  font-size: 14px;
} */

/* .slideDetail {
  grid-column: 2/3;
  width: 70%;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding-bottom: 40px;
} */

/* .slideTitle {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 26px;
  color: rgb(255, 255, 221);
}

.slideBorder {
  height: 2.5px;
  width: 100%;
  background-color: rgba(255, 255, 221, 0.5);
}

.slideDesc {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
  color: rgba(255, 255, 221, 0.8);
} */

/* For popUp responsive */

/* @media only screen and (max-width: 450px) {
  .popUp {
    padding: 20px 30px;
  }

  .mainSlide {
    width: 100%;
    padding: 0;
    justify-self: stretch;
  }

  .yt {
    height: 300px;
  }

  .slideDetail {
    width: 100%;
    justify-self: stretch;
    grid-gap: 15px;
  }

  .slidePost {
    grid-template-rows: 400px;
  }

  .souncloudIframe {
    width: 100%;
    height: 300px;
  }
} */

/* .closeSide {
  justify-self: center;
  align-self: center;
  width: 35px;
  height: 35px;
  fill: #f9f7f6;
  opacity: 0.3;
  cursor: pointer;
  transition: 0.2s ease;
}

.closeSide:hover {
  opacity: 0.8;
} */

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

/* @keyframes slideUpVideo {
  0% {
    opacity: .5;
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */
